body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #f2f2f2;
}

#container{
    width: 100%;
    margin: 0 auto;
    background:#fff;
    min-width: 720px;
    max-width: 960px;
}
#marca{
    height: 100px;
    background: #9E9E9E;
    text-align: center;
    line-height: 100px;
}
#conteudo{
    width: 75%;
    float: right;
}
#navegacao{
    width: 25%;
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #d1d1d1;
}
#conteudo_principal{
    width: 63%;
    float: left;
}
#comteudo_secundario{
    width: 34%;
    float: right;
    background: #d1d1d1;
}
#comteudo_secundario h2,
#comteudo_secundario p{
    padding-left: 20px;
    padding-right:20px ;
}

#navegacao li a{
    text-decoration: none;
    color: #fff;
}
#rodape{
    clear: both;
    text-align: center;
    background: #c4c4c4;
    padding: 5px;
}