/*Barra De Navegação Horizontal*/

ul{
    margin: 0;
    padding: 0;
    list-style: none;
    width: 720px;
    background: url(./arquivos-necessarios-navegacao-horizontal/fundo-horizontal.png) repeat-x;
    float: left;
}
ul li{
    float: left;
}
ul a{
    display: block;
    padding: 0 2em;
    line-height: 2em;
    text-decoration: none;
    color: #fff;
    background: url(./arquivos-necessarios-navegacao-horizontal/divisor.png) repeat-y left top;
}
ul .primeiro a{
    background: none;
}
ul a:hover{
    color: #085662;
    background: #44cade;
}

#Home #navegaçao .home a , #sobre #navegaçao .sobre a, #serviços #navegaçao .serviços a{
    color: #085662;
    background: #44cade;
}
